.root {
  max-width: 600px;
  margin: auto;
  padding: 1.5rem;
  background-color: var(--background-grey);
  min-height: 100vh;
}

.root > div:not(:first-of-type) {
  margin-bottom: 1rem;
}

.root > button {
  margin-bottom: 1rem;
  background-color: var(--blue);
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
}

.root > button:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root > .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.root > .header > div > p {
  color: var(--black-default);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.root > .header > div > .add > button,
.root > .header > div > .change > button {
  font-size: 0.6875rem;
  width: max-content;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--blue);
  border-radius: 3px;
  font-weight: 400;
}

.root > .header > div > .add > p {
  font-size: 0.5625rem;
  color: var(--red);
  width: 15rem;
}

.root > .header > div > .change > p {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.modalMaintenance > img {
  margin: auto;
}