.root {
  text-align: center;
  padding: 2rem 1.5rem;
}

.root > .rank {
  margin-top: 2rem;
}

.root > section > h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black-default);
  margin-bottom: 1rem;
}

.root > section > h1 > span {
  color: var(--red);
}

.root > section > hr {
  width: 5.5rem;
  border: 1px solid var(--red);
  margin: auto;
}

.root > .about > img {
  margin-top: 1.5rem;
}

.root > .about > p {
  font-size: 0.875rem;
  color: var(--text-grey);
  margin-top: 1rem;
}

.root > .rank > .primaryWinner {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}

.primaryWinner > .winner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primaryWinner > .winner > p {
  text-align: center;
}

.primaryWinner > .winner:not(:nth-of-type(2)) > p:first-child {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.primaryWinner > .winner:nth-of-type(1) > p:first-child {
  color: #A7A7AD; 
}

.primaryWinner > .winner:nth-of-type(3) > p:first-child {
  color: #A77044;
}

.primaryWinner > .winner:nth-of-type(2) > p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #FEE101;
}

.primaryWinner > .winner > p:nth-of-type(2) {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--black-default);
  margin: 0.25rem 0rem;
  width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primaryWinner > .winner > p:nth-of-type(3) {
  font-size: 0.625rem;;
  color: var(--text-grey);
  width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primaryWinner > .winner:not(:nth-of-type(2)) > img {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
}

.primaryWinner > .winner:nth-of-type(2) > img {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.winnerList {
  margin-top: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.winnerList > div > p {
  font-size: 0.625rem;
  margin-bottom: 0.5rem;
  max-width: 11.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background-color: var(--white);
}

.winnerList > div > p > span {
  color: var(--text-grey);
  font-weight: 400;
}