.root {
  padding: 2rem;
  text-align: center;
  padding-bottom: 4rem;
}

.root > h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black-default);
  margin-bottom: 1.5rem;
}

.logo {
  border-radius: 0.625rem;
  background-color: var(--white);
  padding: 1.375rem 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: fit-content !important;
}

.logo > img {
  margin: auto;
  width: 6.25rem;
  height: auto;
}

.logo > p:first-of-type {
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

.logo > p:last-of-type {
  font-size: 0.625rem;
}

.root > div {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.root > div > img {
  width: 9rem;
}