.rootModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.modalContent {
  width: 19.75rem;
  background-color: var(--white);
  border-radius: 0.625rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.modalHeader {
  padding: 1.5rem 2rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalHeader>h4 {
  font-size: 1rem;
}

.modalBody {
  padding-left: 2rem;
  padding-right: 2rem;
  max-height: 70vh;
  overflow: auto;
}

.close {
  cursor: pointer;
}