.root {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.root > .compareCard {
  width: 100%;
}

.root > div:not(.compareCard){
  margin: auto;
}

.root > div > .coloredBox {
  text-align: center;
  padding: 1rem 0.5rem;
  border-radius: 0.3125rem;
  margin-bottom: 1rem;
}

.root > div > .coloredBox > img {
  width: 3.5rem;
  height: 2rem;
  object-fit: scale-down;
}


.root > div:first-of-type > .coloredBox,
.root > div:first-of-type > .itemCompare > div {
  background-color: #A416231A;
}

.root > div > .coloredBox,
.root > div > .itemCompare > div {
  background-color: #2E5EAA1A;
}

.root > div:last-of-type > .coloredBox,
.root > div:last-of-type > .itemCompare > div {
  background-color: #58BC741A;
  ;
}

.root > div > .itemCompare:not(:nth-child(4)) {
  margin-bottom: 1rem;
}

.root > div > div:last-child {
  text-align: center;
  margin-top: 0.5rem;
}

.root > div > div:last-child {
  font-size: 0.75rem;
}

.root > div > div:last-child > p {
  font-size: 0.75rem;
  color: #58BC74;
  font-weight: 700;
}

.itemCompare > p {
  font-size: 0.5625rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.itemCompare > div {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3125rem;
}

.itemCompare > div > p {
  font-size: 0.625rem;
  font-weight: 700;
}