.root{
    max-width: 600px;
    margin: auto;
    background-color: var(--background-grey);
}

.root > footer {
    font-size: 0.75rem;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    padding: 0.75rem 1.5rem;
}