@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #00000000;
  --black-default: #212121;
  --placeholder: #C9C9C9;
  --background-grey: #F9F9F9;
  --text-grey: #6D6D6D;
  --mid-grey: #1A4349;
  --red: #A41623;
  --blue: #2E5EAA;
  --white: #FFFFFF;
  --hover-grey: #E4E4E4;

  font-size: calc(100vw * 16 / 390);
}